useDynLib('rmstbart', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export(RMST_BART)
export(abart, mc.abart)
export(mc.cores.openmp)
export(rtnorm, draw_lambda_i, rtgamma)
export(spectrum0ar)
##export(bartModelMatrix, class.ind)
export(bartModelMatrix)
importFrom(nnet, class.ind)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, cor, dbinom, dnorm, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis, quantile, residuals, runif, sd, coef, vcov)
importFrom(survival, survfit, Surv, survreg)
importFrom(tools, psnice)
importFrom(nlme, lme)
#S3method(predict, wbart)
#S3method(predict, mbart)
#S3method(predict, mbart2)

