useDynLib('rmstbart', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export(rmstbart)
export(abart)
export(rtnorm, draw_lambda_i, rtgamma)
export(bartModelMatrix)
export(CredibleIntervals)
importFrom(nnet, class.ind)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, cor, dbinom, dnorm, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis, quantile, residuals, runif, sd, coef, vcov)
importFrom(survival, survfit, Surv, survreg)
importFrom(tools, psnice)
S3method(plot, bart_rmst)
#S3method(predict, mbart)
#S3method(predict, mbart2)

